.container {
  width: 500px;
  margin: 30px auto;
  padding: 40px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.emp-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 95%;
  font-size: 20px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #999;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.error{
  color: red;

}

.btn {
  padding: 15px;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.add-btn {
  background-color: #094d4c;
  color: white;
}

/* .fetch-btn {
  background-color: #007bff;
  color: white;
} */

.btn:hover {
  opacity: 0.85;
}


table th,tr,td{
    padding: 10px;
}
table{
    width: 40%;

}

.success-msg {
  color: #2e7d32;
  background: #e8f5e9;
  padding: 10px;
  margin: 15px;
  border-radius: 4px;
  font-weight: bold;
}
