
<div >
    <h1 style="text-align: center;">Employee Form</h1>

  <div class="container">
    
    <form class="emp-form" #empForm="ngForm">
      <div class="form-group">
        <label>Emp ID</label>
        <input type="text" 
        name="empId" 
        required
        [(ngModel)] = "empId"
        #empIdRef = "ngModel"
        placeholder="Enter Employee ID">
        <div class="error" *ngIf="empIdRef.invalid && empIdRef.touched">
          Employee ID is required
        </div>
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" 
        [(ngModel)] = "name"
        name="name"
        required
        #nameRef="ngModel"
        placeholder="Enter Name">
        <div class="error" *ngIf="nameRef.invalid && nameRef.touched">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label>Role</label>
        <input type="text" 
        [(ngModel)] = "role"
        required
        #roleRef="ngModel"
        name="role"
        placeholder="Enter Name">
        <div class="error" *ngIf="roleRef.invalid && roleRef.touched">
          Role is required
        </div>
      </div>

      <div class="form-group">
        <label>Project</label>
        <input type="text" 
        name="project"
        required
        [(ngModel)] = "project"
        #projectRef = "ngModel"
        placeholder="Enter Project">
        <div class="error" *ngIf="projectRef.invalid && projectRef.touched">
          Project is required
        </div>

      </div>

      <div class="button-group">
        <button [disabled]="empForm.invalid" type="button" (click) = "submitEmployee(empForm)" class="btn add-btn">Add Employee</button>
        <button type="button" (click)="getData()" class="btn fetch-btn">Employee List</button>

  
      </div>

      <div class="success-msg" *ngIf="successMsg">
        {{ successMsg }}
      </div>
    </form>



  </div>

    <hr>




<table *ngIf="employees.length > 0"
 border="1" style="margin:20px auto; padding: 5px;">
  <tr>
    <th>Emp ID</th>
    <th>Name</th>
    <th>Role</th>
    <th>Project</th>
  </tr>

  <tr *ngFor="let emp of employees">
    <td>{{ emp.empId }}</td>
    <td>{{ emp.name }}</td>
    <td>{{ emp.role }}</td>
    <td>{{ emp.project }}</td>
  </tr>
</table>













</div>


